.days-weather-block {
  margin: 150px 0 0 0;
  padding: 0 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.weather-card {
  width: 150px;
  height: 150px;
  padding: 30px;

  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.2);

  img {
    height: 85px;
    width: 85px;
  }

  h3 {
    margin: 10px 0 0 0;
  }

  h4 {
    margin: 10px 0 auto;
    top: 20px;
  }
}
